.container {
    display:flex;

    background-color: darkgray;
    height: 400px;
    color: white;
}

.r1 {
    flex-shrink: 1;

    background-color: red;
}

.r2 {
    flex-shrink: 1;
    background-color: blue;
}

.r3 {
    flex-shrink: 0;
    /*
    0 = Não pode encolher 
    1 = Pode encolher 
    */
    background-color: green;
}

.rect {
    width: 150px;
    height: 100px;
}